{% extends 'base.html' %}

{% block content %}

<main class="container">
    <!-- Mostrar el mensaje de error si existe -->
{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

<div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
        <form method="POST" class="card card-body">
            <h1 class="text-center">Inicio</h1>
            {% csrf_token %}

            <div class="mb-3">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" placeholder="Write your username" id="username">  
            </div>
            <div class="mb-3">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" placeholder="Write your password" id="password">  
            </div>


            <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
    </div>
</div>

</main>
{% endblock %}

